body{
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration: underline;

    color: #070f18;
    margin-top: 40px;
}

#menu {
    text-align: right;
    margin-top: 49px;
}

a {
    color: black;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    
}


#buttonCta {
    background-color: #1F7CFF;
    border-radius: 50px;
    padding: 10px 25px 10px 25px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

#headerCta h1{
    font-family: Poppins;
    font-weight: Bold;
    font-size: 45px;
}

#headerCta p {
    font-family: Poppins;
}

#headerImg {
    margin-left: 42px;
}
#headerImg img {
    width: 100%;
}